<form class="mt-5 container">
  <div class="row">
    <div class="col-md-4">
      <label for="fromStation" class="form-label">From station</label>
      <select id="fromStation" class="form-select">
        <option selected>Choose...</option>
        <option
          *ngFor="let station of stationList"
          value="{{ station.stationID }}"
        >
          {{ station.stationName }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="toStation" class="form-label">To station</label>
      <select id="toStation" class="form-select">
        <option selected>Choose...</option>
        <option
          *ngFor="let station of stationList"
          value="{{ station.stationID }}"
        >
          {{ station.stationName }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Date of travel</label>
      <input
        type="text"
        name="travelDate"
        id="inputState"
        class="form-control"
        disabled
        value="{{ departureDate }}"
      />
    </div>
    <div class="col-md-12 mt-4 text-center">
      <button class="btn btn-primary" type="submit">Modify search</button>
    </div>
  </div>
</form>
<section class="mt-4 container">
  <p class="m-0 p-2 border">
    <b>{{ 0 + 0 }}</b> Result Found For <b>{{ "Pune" }}</b> to
    <b>{{ "Nagpur" }}</b> on <b>{{ "12-12-2023" }}</b>
  </p>
  <p class="m-0 text-danger mt-4">No Trains Available!</p>
</section>
