<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-4">Book ticket</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex me-4" *ngIf="!isLoggedIn">
        <button
          class="btn btn-outline-primary me-3"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          Login
        </button>
        <button
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#registerModal"
        >
          Register
        </button>
      </div>
      <div class="d-flex me-4" *ngIf="isLoggedIn">
        <button class="btn btn-outline-primary me-3 disabled">
          {{ loggedInUserPhone }}
        </button>
        <button class="btn btn-outline-primary" (click)="logOutHandle()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- registerModal -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row g-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="First name"
                aria-label="First name"
                formControlName="firstName"
              />
              <p
                class="text-danger mt-1"
                *ngIf="
                  registerForm.get('firstName')?.hasError('required') &&
                  registerForm.get('firstName')?.touched
                "
              >
                First Name is required!
              </p>
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
                aria-label="Last name"
                formControlName="lastName"
              />
              <p
                class="text-danger mt-1"
                *ngIf="
                  registerForm.get('lastName')?.hasError('required') &&
                  registerForm.get('lastName')?.touched
                "
              >
                Last Name is required!
              </p>
            </div>
            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                aria-label="Email"
                placeholder="Email"
                formControlName="email"
                required=""
              />
              <p
                class="text-danger mt-1"
                *ngIf="registerForm.get('email')?.hasError('email')"
              >
                Email is not valid!
              </p>
              <p
                class="text-danger mt-1"
                *ngIf="
                  registerForm.get('email')?.hasError('required') &&
                  registerForm.get('email')?.touched
                "
              >
                Email is required!
              </p>
            </div>
            <div class="col-md-6">
              <input
                type="password"
                class="form-control"
                aria-label="Password"
                placeholder="Password"
                formControlName="password"
              />
              <p
                class="text-danger mt-1"
                *ngIf="registerForm.get('password')?.hasError('pattern')"
              >
                Minimum six characters, at least one letter(Uppercase and
                Lowercase) and one number
              </p>
              <p
                class="text-danger mt-1"
                *ngIf="
                  registerForm.get('password')?.hasError('required') &&
                  registerForm.get('password')?.touched
                "
              >
                Password is required!
              </p>
            </div>
            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                aria-label="Mobile number"
                placeholder="Mobile number"
                formControlName="mobile"
              />
              <p
                class="text-danger mt-1"
                *ngIf="registerForm.get('mobile')?.hasError('pattern')"
              >
                Mobile number is not valid!
              </p>
              <p
                class="text-danger mt-1"
                *ngIf="
                  registerForm.get('mobile')?.hasError('required') &&
                  registerForm.get('mobile')?.touched
                "
              >
                Mobile number is required!
              </p>
            </div>
          </div>

          <div class="col-md-12 my-4">
            <div class="float-end">
              <button
                type="button"
                class="btn btn-secondary me-3"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="registerHandle()"
                [disabled]="!registerForm.valid"
              >
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (submit)="loginHandle()">
          <div class="form-floating mb-4">
            <input
              type="tel"
              class="form-control"
              id="floatingInput"
              placeholder="XXXXXXXXXX"
              name="phone"
              [(ngModel)]="logInData.phone"
              #phone="ngModel"
              required
            />
            <label for="floatingInput">Phone number</label>
            <p *ngIf="phone.invalid && phone.touched" class="my-2 text-danger">
              phone number is required
            </p>
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              name="password"
              [(ngModel)]="logInData.password"
              #password="ngModel"
              required
            />
            <label for="floatingPassword">Password</label>
            <p
              *ngIf="password.invalid && password.touched"
              class="my-2 text-danger"
            >
              password is required
            </p>
          </div>

          <button
            class="btn btn-primary w-50 float-end py-2"
            data-bs-dismiss="modal"
            type="submit"
          >
            Log in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
